
.hero {
    background-color: #f86624;
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
  }
  
  .hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
    font-weight: bold;
  }

  .hero-content h2 {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 20px;
  }

  .hero-content h2 span {
    font-weight: bold;
  }
  
  .hero-content p {
    font-size: 18px;
    margin-bottom: 30px;
  }
  
  .hero-content button {
    background-color: #333;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  