.admin-login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.admin-login-container h2 {
    margin-bottom: 20px;
}

.admin-login-container input {
    padding: 10px;
    margin-bottom: 10px;
    width: 250px;
}

.admin-login-container button {
    padding: 10px 20px;
    cursor: pointer;
}

.admin-container {
    padding: 40px;
    text-align: center;
}

.admin-container h2 {
    margin-bottom: 20px;
}

.admin-container button {
    padding: 15px 30px;
    font-size: 1.2rem;
    cursor: pointer;
}
