.footer {
  background-color: #1a1a1a; /* Koyu Gri */
  color: #fff;
  padding: 80px 0 30px;
  font-family: 'Poppins', sans-serif;
  border-top: 5px solid #222;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 40px;
}

.footer-about,
.footer-links,
.footer-contact,
.footer-social {
  flex: 1;
  margin: 20px;
  min-width: 250px;
}

.footer-about .logo {
  width: 220px;
  margin-bottom: 20px;
}

.footer-about p {
  font-size: 1rem;
  line-height: 1.6;
  color: #ccc;
  max-width: 300px;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 25px;
  color: #f86624; /* Turuncu */
  font-weight: 600;
  border-bottom: 2px solid #333;
  padding-bottom: 10px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links li {
  margin-bottom: 15px;
}

.footer-links a {
  color: #ccc;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease, transform 0.3s ease;
}

.footer-links a:hover {
  color: #f86624;
  transform: translateX(5px);
}

.footer-contact p {
  font-size: 1rem;
  line-height: 1.8;
  color: #ccc;
  margin-bottom: 12px;
}

.footer-social-icons a {
  color: #fff;
  font-size: 2rem;
  margin-right: 25px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.footer-social-icons a:hover {
  color: #f86624;
  transform: scale(1.2);
}

.footer-bottom {
  text-align: center;
  padding: 25px 0;
  margin-top: 50px;
  border-top: 1px solid #333;
  font-size: 0.9rem;
  color: #aaa;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-about,
  .footer-links,
  .footer-contact,
  .footer-social {
    min-width: 100%;
    margin: 20px 0;
  }
  
  .footer-about p {
    max-width: 100%;
  }
}
