
.hero {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ33h_2z92f_5z3gPAzT3ci2mIQO1fJ9MROgQ&s');
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
  }
  
  .hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .hero-content p {
    font-size: 24px;
    margin-bottom: 30px;
  }
  
  .hero-content button {
    background-color: #ff9900;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
  }
  